# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Python caching & bytecode
__pycache__/
*.py[cod]
*$py.class

# Testing
/coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Next.js
.next/
out/
build/
build_output.txt

# TS / JS Build info
*.tsbuildinfo
next-env.d.ts

# Environments & Secret keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.pem
*.key

# IDEs & System files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
